*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: serif;
  font-size: 16px;
}

body {
  background-color: #333;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top: 3px solid #fff;
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
  animation: spin 1s cubic-bezier(0.83, 0, 0.17, 1) infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
